
table {
  background: white;
  border-collapse: collapse;
  margin: 1.25em 0 0;
  width: 60%;
}

table tr,
table th,
table td {
  border: none;
  border-bottom: 1px solid #e4ebeb;
  /*font-family: 'Lato', sans-serif;*/
  font-size: .875rem;
}

table th,
table td {
  padding: 10px 12px;
  text-align: left;
}

table th {
  background: #56a2cf;
  color: #ffffff;
  text-transform: uppercase;
}

table tr td {
  background: #eaf3f5;
  color: #999999;
}

table tr:nth-of-type(2n+2) td {
  background: #ffffff;
}
